:root {
  --primary: #645cff;
  --mainBorder: 1px solid red;
  --white: #fff;
}

body {
  margin: 0;
  background-color: whitesmoke;
  background: whitesmoke;
}

// .title {
//   text-align: center;
//   text-transform: capitalize;
//   text-transform: uppercase;
// }
// .section-title {
//   color: red;
// }
// .btn {
//   background: #645cff;
//   color: #fff;
//   border: none;
//   border-radius: 0.25rem;
//   cursor: pointer;
//   text-transform: capitalize;
//   padding: 0.25rem;
//   display: block;
//   width: 200px;
//   margin: 1rem auto;
// }
// .bg-grey {
//   background: grey;
// }
