$primary-color: blue;
$secondary-color: whitesmoke;

.hello-world-button {
  border-radius: 8px;
  font-size: 20px;
  padding: 7px 15px;
  background: $primary-color;
  color: $secondary-color;
  outline: none;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
  }
}

.hello-world-text {
  color: $primary-color;
  font-weight: bold;
  &:hover {
    color: $secondary-color;
    background-color: $primary-color;
  }
}
